@charset "UTF-8";
@font-face {
  font-family: 'roboto-grid';
  src: url("../fonts/Roboto-Regular.ttf") format("ttf"); }

@font-face {
  font-family: 'roboto-grid';
  src: url("../fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: bold; }

@font-face {
  font-family: 'roboto-grid';
  src: url("../fonts/Roboto-Light.ttf") format("ttf"); }

@font-face {
  font-family: 'roboto-grid';
  src: url("../fonts/Roboto-Medium.ttf") format("ttf"); }

@font-face {
  font-family: 'roboto-grid';
  src: url("../fonts/Roboto-Black.ttf") format("ttf"); }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  height: 100vh;
  background-color: #F3EBE9;
  color: #fff;
  font-family: "Roboto", sans-serif;
    font-family-font-size: 16px;
    font-family-font-weight: 400;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  font-family: roboto-grid, sans-serif;
  overflow-x: hidden;
  opacity: 1; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff; }

.site__header {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  background-color: inherit; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px 0 15px; }
  .container h1 {
    color: #000; }

/* Слайдер */
.slider__item {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

/* Футер */
.footer {
  width: 100%;
  margin: 0 auto;
  color: #000;
  text-align: center;
  height: 64px;
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.25;
  background-color: #F3EBE9;
  padding: 24px 0 24px 0;
  position: absolute;
  bottom: 0; }
