@font-face {
  font-family: 'roboto-grid';
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: 'roboto-grid';
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 600; }

@font-face {
  font-family: 'roboto-grid';
  src: url("../fonts/Roboto-Light.ttf");
  font-weight: 200; }

@font-face {
  font-family: 'roboto-grid';
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: 'roboto-grid';
  src: url("../fonts/Roboto-Black.ttf");
  font-weight: 700; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  color: #000;
    color-font-size: 16px;
    color-font-weight: 400;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  font-family: roboto-grid, sans-serif;
  overflow-x: hidden;
  opacity: 1; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  text-decoration: none;
  cursor: pointer; }

input:focus {
  outline: none; }

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none; }

::-webkit-input-placeholder {
  color: rgba(60, 60, 60, 0.4); }
  ::-webkit-input-placeholder:focus {
    color: #000; }

h1, h2, h3 {
  margin: 0; }

@font-face {
  font-family: 'roboto-grid';
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: 'roboto-grid';
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 600; }

@font-face {
  font-family: 'roboto-grid';
  src: url("../fonts/Roboto-Light.ttf");
  font-weight: 200; }

@font-face {
  font-family: 'roboto-grid';
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: 'roboto-grid';
  src: url("../fonts/Roboto-Black.ttf");
  font-weight: 700; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  color: #000;
    color-font-size: 16px;
    color-font-weight: 400;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  font-family: roboto-grid, sans-serif;
  overflow-x: hidden;
  opacity: 1; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  text-decoration: none;
  cursor: pointer; }

input:focus {
  outline: none; }

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none; }

::-webkit-input-placeholder {
  color: rgba(60, 60, 60, 0.4); }
  ::-webkit-input-placeholder:focus {
    color: #000; }

h1, h2, h3 {
  margin: 0; }

.copy {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  line-height: 16px;
  background-color: #2A2C2B; }

@font-face {
  font-family: 'roboto-grid';
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: 'roboto-grid';
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 600; }

@font-face {
  font-family: 'roboto-grid';
  src: url("../fonts/Roboto-Light.ttf");
  font-weight: 200; }

@font-face {
  font-family: 'roboto-grid';
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: 'roboto-grid';
  src: url("../fonts/Roboto-Black.ttf");
  font-weight: 700; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  color: #000;
    color-font-size: 16px;
    color-font-weight: 400;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  font-family: roboto-grid, sans-serif;
  overflow-x: hidden;
  opacity: 1; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  text-decoration: none;
  cursor: pointer; }

input:focus {
  outline: none; }

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none; }

::-webkit-input-placeholder {
  color: rgba(60, 60, 60, 0.4); }
  ::-webkit-input-placeholder:focus {
    color: #000; }

h1, h2, h3 {
  margin: 0; }

.popup-fade {
  display: none; }
  .popup-fade::before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 9999;
    transition: .5s; }
  .popup-fade .v-center {
    top: calc(50% - 10rem) !important; }
  .popup-fade .popup {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: calc(50% - 16rem);
    left: calc(50% - 300px);
    padding: 30px;
    width: 600px;
    background: #fff;
    border-radius: 2px;
    z-index: 99999;
    opacity: 1; }
    .popup-fade .popup .form-title {
      font-size: 24px;
      font-weight: 300px;
      color: #000;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.5px; }
    .popup-fade .popup .popup-close {
      position: absolute;
      top: -5px;
      right: 15px;
      font-size: 32px;
      color: #00C1DA;
      transition: transform .5s ease-in-out; }
      .popup-fade .popup .popup-close:hover {
        transform: rotate(180deg); }
    .popup-fade .popup .row {
      display: flex;
      align-items: center;
      margin: 5px; }
      .popup-fade .popup .row #employer-sumbit {
        margin-left: 5px; }
      .popup-fade .popup .row .employer-contract {
        font-size: 14px;
        font-weight: 500;
        margin: 10px 15px; }
      .popup-fade .popup .row .col {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px 5px; }
        .popup-fade .popup .row .col .form-label {
          margin: 5px 0px;
          font-size: 14px;
          color: #000;
          font-weight: 500; }
        .popup-fade .popup .row .col .form-input {
          width: 100%;
          padding: 15px;
          height: 40px;
          border: 1px solid #00C1DA;
          border-radius: 4px;
          outline: none;
          transition: all .5s; }
          .popup-fade .popup .row .col .form-input:focus {
            box-shadow: 0 0 10px 5px rgba(0, 193, 218, 0.36); }
        .popup-fade .popup .row .col .full-w {
          width: 100%; }
      .popup-fade .popup .row .form-copy {
        margin: 5px 10px;
        font-size: 14px;
        color: #000;
        font-weight: 500; }
        .popup-fade .popup .row .form-copy a {
          margin-left: 10px;
          color: #00C1DA;
          text-transform: uppercase;
          transition: .5s;
          display: inline-block;
          text-decoration: none; }
          .popup-fade .popup .row .form-copy a:after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: #00C1DA;
            transition: width .3s; }
          .popup-fade .popup .row .form-copy a:hover::after {
            width: 100%; }
      .popup-fade .popup .row .btn {
        display: flex;
        text-transform: uppercase;
        width: 110px;
        height: 40px;
        margin: 10px 5px;
        font-size: 14px;
        font-weight: 500;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 4px;
        background-color: transparent;
        color: #00C1DA;
        border: 1px solid #00C1DA;
        padding: 5px;
        transition: all 0.2s ease-in; }
        .popup-fade .popup .row .btn:hover {
          color: #fff;
          background-color: #00C1DA;
          box-shadow: 0 0 50px 5px rgba(0, 193, 218, 0.36); }

.page-wrap {
  max-width: 1980px;
  width: 100%;
  position: relative;
  margin: 0 auto; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%; }

.error {
  color: #ff4e4e;
  border: 1px solid #ff4e4e !important; }

.profile-dropdown {
  position: relative;
  margin: 0; }
  .profile-dropdown img {
    cursor: pointer; }
  .profile-dropdown:hover .hidden-block {
    opacity: 1;
    top: 70%;
    right: 50%;
    z-index: 9999;
    width: 200px;
    transition: .3s;
    pointer-events: auto; }
  .profile-dropdown .hidden-block {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 100%;
    height: 140px;
    background: #fff;
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #1D1D1D; }
    .profile-dropdown .hidden-block .logged-name {
      color: #1D1D1D;
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
      position: relative;
      margin-bottom: 15px;
      border-bottom: 1px solid #1D1D1D; }

/* Header */
.header {
  width: 100%;
  background: #FFF; }
  .header .header-nav {
    width: 100%;
    height: 94px;
    background-color: #fff; }
  .header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px; }
    .header .nav__menu {
      display: flex;
      align-items: center; }
      .header .nav__menu .menu {
        list-style-type: none;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0; }
        .header .nav__menu .menu .menu-item {
          list-style-type: none;
          margin: 0px 17px;
          padding: 0 5px;
          border-bottom: 2px solid transparent;
          cursor: pointer;
          transition: all 0.2s ease-in; }
          .header .nav__menu .menu .menu-item:last-child {
            margin-right: 40px; }
          .header .nav__menu .menu .menu-item a {
            color: #000;
            text-decoration: none;
            font-size: 12px;
            font-weight: 700;
            transition: .5s;
            display: inline-block;
            text-decoration: none; }
            .header .nav__menu .menu .menu-item a:after {
              content: '';
              display: block;
              width: 0;
              height: 2px;
              background: #00C1DA;
              transition: width .3s; }
            .header .nav__menu .menu .menu-item a:hover::after {
              width: 100%; }
      .header .nav__menu .popup-log-open {
        border: none !important;
        margin-right: 40px !important; }
      .header .nav__menu .btn {
        display: flex;
        text-transform: uppercase;
        width: 110px;
        height: 30px;
        font-size: 12px;
        font-weight: 700;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 16px;
        background-color: transparent;
        color: #00C1DA;
        border: 1px solid #00C1DA;
        padding: 5px;
        transition: all 0.2s ease-in; }
        .header .nav__menu .btn:hover {
          color: #fff;
          background-color: #00C1DA;
          box-shadow: 0 0 15px 5px rgba(0, 193, 218, 0.16); }

.search-block {
  width: 100%;
  height: 94px;
  background-color: #000; }
  .search-block .search-box-bg {
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .search-block .search-box-bg .total-vac {
      font-size: 36px;
      font-weight: 400;
      color: #fff;
      line-height: 42px; }
    .search-block .search-box-bg .search-vac {
      display: flex;
      justify-content: space-between; }
      .search-block .search-box-bg .search-vac__input {
        width: 556px;
        height: 42px;
        margin: 0 25px; }
        .search-block .search-box-bg .search-vac__input .v-input {
          width: 100%;
          height: 100%;
          border: 0;
          font-size: 16px;
          color: #000;
          padding: 15px; }
      .search-block .search-box-bg .search-vac__btn .v-btn {
        display: flex;
        text-transform: uppercase;
        width: 110px;
        height: 42px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 2px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid #00C1DA;
        color: #fff;
        padding: 8px;
        transition: all 0.2s ease-in; }
        .search-block .search-box-bg .search-vac__btn .v-btn:hover {
          background-color: #00C1DA;
          color: #000; }

.section {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center; }
  .section .container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin: 20px auto;
    position: relative;
    overflow: hidden; }
    .section .container .filters-box {
      position: absolute;
      width: 310px;
      height: 700px;
      color: #000;
      border: 1px solid #000;
      text-align: center;
      background-color: #F3F3F3; }
    .section .container .card-box-container {
      margin-left: 336px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column; }
      .section .container .card-box-container .card-box-item {
        height: 200px;
        padding: 15px;
        margin: 0 0 26px 38px;
        cursor: pointer;
        border: .5px solid #909090;
        position: relative; }
        .section .container .card-box-container .card-box-item .card-box-row {
          display: flex;
          justify-content: space-between;
          font-size: 20px;
          font-weight: 400;
          line-height: 23px;
          padding: 10px 25px 10px 0;
          position: relative; }
          .section .container .card-box-container .card-box-item .card-box-row__title {
            color: #00C1DA; }
          .section .container .card-box-container .card-box-item .card-box-row__city, .section .container .card-box-container .card-box-item .card-box-row__description, .section .container .card-box-container .card-box-item .card-box-row__date {
            font-size: 12px;
            color: #909090;
            line-height: 14px;
            overflow: hidden;
            margin: 0;
            max-height: 42px; }
          .section .container .card-box-container .card-box-item .card-box-row__date {
            font-size: 14px !important; }
          .section .container .card-box-container .card-box-item .card-box-row__respond {
            font-size: 14px;
            font-weight: 500;
            color: #000;
            border-bottom: 1px solid #00C1DA;
            transition: .5s; }
            .section .container .card-box-container .card-box-item .card-box-row__respond:hover {
              color: #00C1DA; }

.fixed {
  position: fixed !important;
  top: 0; }

.bottom {
  position: absolute !important;
  bottom: 25px !important;
  top: auto !important; }

.p-bottom {
  width: 100%;
  position: absolute;
  bottom: -15px;
  padding-bottom: 0 !important; }
