@font-face
	font-family: 'roboto-grid'
	src: url('../fonts/Roboto-Regular.ttf') format('ttf')

@font-face
	font-family: 'roboto-grid'
	src: url('../fonts/Roboto-Bold.ttf') format('ttf')
	font-weight: bold

@font-face
	font-family: 'roboto-grid'
	src: url('../fonts/Roboto-Light.ttf') format('ttf')

@font-face
	font-family: 'roboto-grid'
	src: url('../fonts/Roboto-Medium.ttf') format('ttf')

@font-face
	font-family: 'roboto-grid'
	src: url('../fonts/Roboto-Black.ttf') format('ttf')
