@import "fonts"
@import "base"
@import "vars"

.page-wrap
	display: flex
	flex-direction: column
	max-width: 1980px
	height: 100%
	margin: 0 auto
	position: relative

.container 
	max-width: 1200px
	margin: 0 auto
	height: 100%
	padding: $base-padding

/* Header */
.header
	width: 100%
	height: 100vh
	position: relative
	background-image: url(../img/main-bg.png)
	background-repeat: no-repeat
	background-size: cover
	background-position: center -60px
	.header-nav
		height: 94px
		background-color: $color-white
	.nav
		display: flex
		justify-content: space-between
		align-items: center
		padding: 25px 0px
		&__menu
			display: flex
			.menu
				list-style-type: none
				display: flex
				align-items: center
				margin: 0
				padding: 0
				.menu-item
					font-size: 12px
					font-weight: 700
					margin: 0px 17px
					padding: 0 5px
					border-bottom: 2px solid transparent
					cursor: pointer
					transition: all 0.2s ease-in
					&:hover
						border-bottom: 2px solid $color-ocean-blue
					&:last-child
						margin-right: 40px
			.btn
				display: flex
				text-transform: uppercase
				width: 110px
				height: 30px
				font-size: 12px
				font-weight: 700
				align-items: center
				justify-content: center
				cursor: pointer
				border-radius: 16px
				background-color: transparent
				color: $color-ocean-blue
				border: 1px solid $color-ocean-blue
				padding: 5px
				transition: all 0.2s ease-in
				&:hover
					color: $color-white
					background-color: $color-ocean-blue
					box-shadow: 0 0 50px 5px rgba(0, 193, 218, 0.36)

/* Search Input */
.content
	width: 100%
	position: relative
	.content-title
		margin-top: 140px
		font-size: 100px
		line-height: 120px
		font-weight: 700
		color: $color-white
		text-align: center
	.content-subtitle
		display: block
		font-size: 16px
		line-height: 20px
		letter-spacing: 5px
		color: $color-ocean-blue
		text-align: center
	.content-seach-input
		display: flex
		justify-content: space-between
		align-items: center
		width: 1120px
		margin-top: 35px
		background-color: transparent
		.content-search
			display: flex
			align-items: center
			width: 1120px
			height: 60px
			padding: 5px
			border-radius: 8px
			background-color: $color-white
			margin-right: 15px
			box-shadow: 0 0 100px 5px rgba(50, 60, 90, 0.2)
			.search-select
				display: flex
				flex-basis: 20%
				position: relative
				height: 100%
				&::before
					content: ''
					position: absolute
					width: 1px
					height: 100%
					padding: 1px 0
					background-color: rgba(151, 151, 151, 0.2)
					right: 0
			.search-input
				display: flex
				flex-basis: 80%
				.search
					width: 100%
					height: 100%
					border: 0
					font-size: 14px
					color: #1E2D52
					margin-left: 35px
					margin-right: 20px
	.btn
		display: flex
		text-transform: uppercase
		width: 160px
		height: 60px
		font-size: 14px
		font-weight: 700
		align-items: center
		justify-content: center
		cursor: pointer
		border-radius: 8px
		background-color: $color-ocean-blue
		border: none
		color: $color-white
		padding: 20px
		transition: all 0.2s ease-in
		&:hover
			color: $color-white
			background-color: $color-ocean-blue
			box-shadow: 0 0 50px 5px rgba(0, 193, 218, 0.36)